# Cổng chạy server Node.js
PORT=5000

# Cho phép Frontend ở cổng 5173 gọi API tới đây (CORS)
FRONTEND_URL=http://localhost:5173

# Đường dẫn gọi sang trạm AI Python
PYTHON_API_URL=http://localhost:8000/predict